{% extends 'principal/base.html' %}

{% block title %}verificacion{% endblock  %}


{% block content  %}

<div class="container text-center" style="background: red">
    <div class="row">
      <div class="col">
        {% if usuario_lista %}

        {% for  persona in usuario_lista  %}
        <div><p><a href="/verificacion/{{persona.id}}"><img src="{{ persona.foto.url }}">{{ persona.usuario }} {{persona.create}}  </a></p></div>
           
        

        {% endfor %}

        {% else %}
      </div>
    </div>
  </div>


    <p>no hay nada</p>

{% endif %}

{% endblock  %}